header{
    max-width: 95%;
    height: 60px;
    background-color:hotpink;
    margin: 40px 30px 20px;
}
span{
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    color: aliceblue;
}
main{
    max-width: 95%;
    height: 60px;
    background-color:maroon;
    margin: 40px 30px 20px;
}
.aside_conteiner{
    display: flex;
    justify-content:flex-start;
}
.left{
    width: 500px;
    height: 300px;
    margin-left: 30px;
}
.aside1{
    width:500px;
    height: 90px;
    background-color: fuchsia;
}
.aside2{
    margin-top: 20px;
    width: 500px;
    height: 190px;
    background-color: fuchsia;
}
.center{
    width: 1000px;
    height: 400px;
    background-color: fuchsia;
    margin-left: 30px;
}
.section{
    width: 700px;
    height: 100px;
    margin-top: 40px;
    margin-left: 150px;
    background-color: blue;
}
.right{
    width: 250px;
    height: 300px;
    background-color: fuchsia;
    margin-left: 30px;
}
p{
    color: aliceblue;
    text-align: center;
}
footer{
    max-width: 95%;
    height: 60px;
    background-color:maroon;
    color: aliceblue;
    margin: 40px 30px 20px;
}