*{
    margin: 0;
    padding: 0;
}
h3{
    text-align: center;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}
.child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 300px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 10px;
}
h4{
    text-align: center;
}
b{
    margin-top: 20px;
}