main{
    width: 70%;
    height: 400px;
    background-color: cornflowerblue;
    margin: 50px auto;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
}
.right{
    display: flex;
}
span{
    font-size: 20px;
    color: aliceblue;
}
hr{
    border-color: aliceblue;
    border-width: 2px;
    width: 90%;
}
p{
    font-size: 15px;
    color: aliceblue;
    text-align: center;
}
span:hover{
    text-decoration: underline;
}
.fb{
    background: url("Source/fb_gray.png");
    width: 64px;
    height: 64px;
}
.insta{
    background: url("Source/insta_gray.png");
    width: 64px;
    height: 64px;
    margin-left: 30px;
}
.youtube{
    background: url("Source/youtube_gray.png");
    width: 64px;
    height: 64px;
    margin-left: 30px;
}
.fb:hover{
   background: url("Source/fb.png");
}
.insta:hover{
    background: url("Source/insta.png");
}
.youtube:hover{
    background: url("Source/youtube.png");
}
