.parent{
    width: 200px;
    height: 300px;
    background-color:darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 100px;
}
.child{
    display: flex;
    padding-left: 30px;
}
b{
    color: aliceblue;
}
img{
   margin-right: 20px;
   width: 20px;
   height: 20px;
}
.parent div:hover{
    background-color: dimgray;
}